input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color:  blue;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(138, 138, 244);

}

form{
    background-color: #222;
    max-width: 1000px;
    padding: 50px;
    width: 800px;
    border-radius: 5px;
}
label{
color: #fff;

}

h1 {
    color: #222;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

